<form (ngSubmit)="createChannel()" class="list-group-item py-2">
  <div class="row g-2 align-items-center">
    <!-- Dropdown to select a group -->
    <div class="col-md-4">
      <select
        class="form-select form-select-sm"
        [(ngModel)]="selectedGroup"
        name="group"
        required
      >
        <option [ngValue]="null" disabled disabled selected>Select Group</option>
        <option *ngFor="let group of groupList" [ngValue]="group">

          {{ group.groupName }}
        </option>
      </select>
    </div>

    <!-- Input for channel name -->
    <div class="col-md-4">
      <input
        type="text"
        class="form-control form-control-sm"
        [(ngModel)]="channelName"
        name="channelName"
        placeholder="Channel Name"
        required
      />
    </div>

    <!-- Submit button -->
    <div class="col-md-4 d-grid">
      <button type="submit" class="btn btn-primary btn-sm">Create Channel</button>
    </div>
  </div>

</form>
