<app-nav-bar></app-nav-bar>
<p>Welcome to the ChatRoom Page! Feel free to join an open chatroom or create your own!</p>

<!-- ability to create chatrooms -->
 <!-- upon being served this route, we need to do a get request and get all current chatrooms -->
<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="border p-3 mb-3" style="height: 300px; overflow-y: auto; background-color: #f8f9fa;">
        <div *ngFor="let msg of messages">
          <p class="mb-1"> ({{ msg.getFormattedTime() }}) {{msg.sender}}: {{msg.message}}</p>
        </div>
      </div>
    </div>
  </div>
</div>



 <form (ngSubmit)="sendMessage()">
    <div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
        <div class="mb-3">
          <label for="message" class="form-label">Message:</label>
          <input
            type="text"
            id="message"
            name="message"
            class="form-control"
            [(ngModel)]="message"
            placeholder="Enter your message"
            required>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </div>
  </div>
</div>

 </form>