<form class="list-group-item py-2">
  <div class="row g-2 align-items-center">

    <div class="col-md-4">
      <select
        id="group-select"
        class="form-select form-select-sm"
        [(ngModel)]="selectedGroup"
        (change)="groupChange()"
        name="groupSelect"
        required
      >
        <option [ngValue]="null" disabled selected>Select Group</option>
        <option *ngFor="let group of groupList" [ngValue]="group">
          {{ group.groupName }}
        </option>
      </select>
    </div>

    <div class="col-md-4">
      <select
        id="waitlist-select"
        class="form-select form-select-sm"
        [(ngModel)]="selectedWaitlistUser"
        name="waitlistSelect"
        [disabled]="selectedWaitlist.length === 0"
        required
      >
        <option value="" disabled selected>
          Select Waitlist Member
        </option>
        <option *ngFor="let member of selectedWaitlist" [value]="member">
          {{ member }}
        </option>
      </select>
    </div>

    <div class="col-md-4 d-grid">
      <button
        type="button"
        class="btn btn-success btn-sm"
        (click)="approveUser()"
        [disabled]="!selectedGroup || !selectedWaitlistUser"
      >
        Approve User
      </button>
    </div>

  </div>
</form>