<app-nav-bar></app-nav-bar>
<div class="container mt-3">
  <!-- <div class="d-flex justify-content-start align-items-center gap-3">
    <button [disabled]="pageType == 'Users'" class="btn btn-dark btn-sm mx-1">
      Users
    </button>
    <button [disabled]="pageType == 'Groups'" class="btn btn-dark btn-sm mx-1">
      Groups
    </button>
  </div> -->
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <a 
        class="nav-link" 
        [class.active]="pageType === 'Users'" 
        (click)="pageType = 'Groups'; pageNumber = 1; changePageCategory()"
        style="cursor: pointer; font-size: 1.25rem; font-weight: 500;"
      >
        Users
      </a>
    </li>
    <li class="nav-item">
      <a 
        class="nav-link" 
        [class.active]="pageType === 'Groups'" 
        (click)="pageType = 'Users'; pageNumber = 1; changePageCategory()"
        style="cursor: pointer; font-size: 1.25rem; font-weight: 500;"
      >
        Groups
      </a>
      <!-- on clicking a new button tab it should call a function to swap pagetype which then will display the other stuff below via if pagetype -->

    </li>
  </ul>
    <!-- wrap this in an if pagetype easy clap -->
  @if (pageType === 'Users')
  {
  <ul class="list-group">
    @for (user of formattedData; track user.ID)
    {
    <li class="list-group-item d-flex justify-content-between align-items-center py-2">
      <span>UserID: {{user.ID}} | Username: {{ user.username }} | Role: {{user.role}}</span>
      <div>
        <button [disabled]="user.username == 'test1'" class="btn btn-danger btn-sm mx-1" (click)="deleteUser(user.ID, user.username)" >
          Delete
        </button>
        <button [disabled]="user.role == 'User' || user.username == 'test1'" class="btn btn-dark btn-sm mx-1" (click)="updateUserRole('User', user.username)">
          Demote to User
        </button>
        <button [disabled]="user.role == 'GroupAdmin' || user.username == 'test1'" class="btn btn-warning btn-sm mx-1" (click)="updateUserRole('GroupAdmin', user.username)" >
          Promote to Group Admin
        </button>
        <button [disabled]="user.role == 'SuperAdmin'" class="btn btn-primary btn-sm mx-1" (click)="updateUserRole('SuperAdmin', user.username)">
          Promote to Super Admin
        </button>
      </div>
    </li>
  }
  </ul>
}

@if (pageType==='Groups')
{
  <ul class="list-group">
    @for (group of formattedGroupData; track group.groupID)
    {
    <li  class="list-group-item d-flex justify-content-between align-items-center py-2">
      <span>GroupID: {{group.groupID}} | Group-Name: {{ group.groupName }} | Creator: {{group.groupCreator}}</span>
      <div>
        <button [disabled]="group.groupName == 'test1'" class="btn btn-danger btn-sm mx-1" (click)="deleteGroup(group.groupName)" >
          Delete
        </button>
        <!-- I could nest another for loop to list channels under a group, these could be paginated -->
      </div>
    </li>
  }
  </ul>
}
  <br>
  
  <div>
    <button [disabled]='pageNumber == 1' class="btn btn-primary btn-sm mx-1" (click)="pageUpdate(0)">
      Previous
    </button>

    <button [disabled]='pageNumber == totalPages' class="btn btn-primary btn-sm mx-1" (click)="pageUpdate(1)">
      Next
    </button>
  </div>
  <p>page {{pageNumber}} of {{totalPages}}</p>
  @if (pageType == 'Users')
  {
    <div *ngIf="pageType==='Users' "class="list-group-item d-flex justify-content-between align-items-center py-2" style="max-width: 800px">
      <app-create-account (userCreated)="refreshUsers()"></app-create-account>
    </div>
  }
  @else
  {
    <app-create-group (groupCreated)="refreshGroups()"></app-create-group>
    <app-create-channel [groupList]="formattedGroupNames"></app-create-channel>
  }
</div>